<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico">
        Modern Stored App
      </h1>

      <div class="columns">
        <div class="column is-half is-offset-one-quarter">

          <p class="control">
            <input type="text" class="input is-large" placeholder="Nome">
          </p>

<p class="control">
            <input type="text" class="input is-large" placeholder="Sobrenome">
          </p>

          <p class="control">
            <input type="text" class="input is-large" placeholder="E-mail">
          </p>

<p class="control">
            <input type="text" class="input is-large" placeholder="CPF">
          </p>



          <p class="control">
            <input type="text" class="input is-large" placeholder="Usuário">
          </p>

          <p class="control">
            <input type="password" class="input is-large" placeholder="Senha">
          </p>

           <p class="control">
            <input type="password" class="input is-large" placeholder="Confirmar Senha">
          </p>

          <p>
            <a href="" class="button is-primary is-inverted is-outlined is-large is-fullwidth">Cadastrar</a>
            <br>
            <a href="" class="button is-link is-fullwidth">Voltar para a tela anterior!</a>
          </p>

        </div>
      </div>

    </div>


  </div>
</section>